.todoItem {
    box-sizing: border-box;
    display: flex;
    background: #71436F;
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    p { 
        max-width: 290px;
        word-wrap: break-word;
        margin: 0;
    }
}